<!--<a class="collapse right btn btn-white" href="webcal://%frontendUrl%/feed/ical/user:%user_id%/key:%key%" title="Add Showdates to your calendar">iCal Feed</a>-->

<h1>Couch</h1>

<p>This list shows the next episode for every show you follow and haven't watched yet.</p>

<ul class="list-couch">

<% local_time = @user.to_local_time(Time.now.getutc) %>

<% if @couch[:aired].count > 0 %>
  <li>Watchlist</li>
  <ul id="section-watchlist">

    <% @couch[:aired].each do |show_id, ep| %>
      <li id="episode-<%= ep[:episode].id %>" class="show-<%= ep[:episode].show.id %>" data-timestamp="{timestamp}">
      	<p><span class="date date-past"><%= ep[:episode].firstaired_formatted(current_date: local_time.to_date) %></span>
      	<span class="episode-code tt" title="<%= ep[:queue] %>"><%= ep[:episode].episode_code %></span>
      	<a href="/show/<%= ep[:episode].show.id %>"><%= ep[:episode].show.title %></a> &ndash; <a href="/episode/<%= ep[:episode].id %>"><%= ep[:episode].title %></a></p>
      	<a href="/episode/watched/<%= ep[:episode].id %>" class="button-link link-episode episode-tick episode-shownext" data-episodeid="<%= ep[:episode].id %>"><img src="img/unwatched.png" /></a>

        <% if @user.providerurl %>
          <a href="<%= @user.providerurl_for_episode(ep[:episode]) %>" class="button-link link-episode button-binsearch" target="blank"><img src="img/link.png" /></a>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>

<% if @couch[:tobeaired].count > 0 %>
  <li>To Be Aired</li>
  <ul id="section-tba">
    <% @couch[:tobeaired].each do |show_id, ep| %>
      <li id="episode-<%= ep[:episode].id %>" class="show-<%= ep[:episode].show.id %>" data-timestamp="{timestamp}">
      	<p><span class="date"><%= ep[:episode].firstaired_formatted(current_date: local_time.to_date) %></span>
      	<span class="episode-code tt" title="<%= ep[:queue] %>"><%= ep[:episode].episode_code %></span>
      	<a href="/show/<%= ep[:episode].show.id %>"><%= ep[:episode].show.title %></a> &ndash; <a href="/episode/<%= ep[:episode].id %>"><%= ep[:episode].title %></a></p>
      </li>
    <% end %>
  </ul>
<% end %>
</ul>

<!--<p class="couch-buttons-footer"><a class="btn btn-white" href="webcal://%frontendUrl%/feed/ical/user:%user_id%/key:%key%" title="Add Showdates to your calendar">iCal Feed</a></p>-->
