<div class="homeMostPopularContainer collapse">
<ul class="homeMostPopular">
  <% SDShow.most_popular(10).each do |show| %>
  <li>
  	<a href="/show/<%= show.id %>" style="background-image: url(<%= show.poster_path %>)" alt="<%= show.title %>" title="<%= show.title %>"><%= show.title %></a>
  </li>
  <% end %>
</ul>
</div>

<div class="clear"></div>

<div class="center">
	<h1 class="home">Showdates is all about your favorite television shows.</h1>
</div>

<div class="home-login-outer">

<div class="btns-home-outer"><a href="/login/facebook" class="btn-login btn-facebook">Log in with Facebook</a><a href="/login/twitter" class="btn-login btn-twitter">Log in with Twitter</a></div>

<p><a href="login">Log in with your own credentials</a> or <a href="/signup">sign up</a></p>

</div>

<h2 class="intro">Track your favorite shows. Discover new series you like. Mark your progress. Never miss an episode again. That's Showdates.</h2>

<div class="clear"></div>

<div class="center">

<ul class="highlights collapse">

<li>
	<img class="highlight" src="/img/discover-shows.png" alt="Discover new tv shows and expand your horizon with exciting new series!" />
	<div class="highlight-info">
		<p><strong>Discover</strong></p>
		<p>Expand your horizon with exciting new series!</p>
	</div>
</li>

<li>
	<img class="highlight" src="/img/follow-shows.png" alt="Follow your favorite television shows to create your personal watchlist." />
	<div class="highlight-info">
		<p><strong>Follow</strong></p>
		<p>Follow shows to create your personal watchlist. We have also integrated with Facebook if you want to share what you follow.</p>
	</div>
</li>

<li>
	<img class="highlight" src="/img/track-progress.png" alt="Track your progress on your show episodes. Mark tv episodes as watched." />
	<div class="highlight-info">
		<p><strong>Track Your Progress</strong></p>
		<p>Mark episodes you've already seen as watched. Mark all episodes, seasons or individual episodes.</p>
	</div>
</li>

<li>
	<img class="highlight" src="/img/stay-on-top.png" alt="Once you follow and track your television series, you will stay on top automatically." />
	<div class="highlight-info">
		<p><strong>Stay On Top</strong></p>
		<p>Never forget where you left off. Always know when new episodes will air. Easy!</p>
	</div>
</li>

</ul>

</div>

<div class="clear"></div>
