<div style="background-image: url(<%= @show.banner_path %>);" class="show-imageheading">
	<div class="show-imageheading-text">
		<div class="show-imageheading-text-inner">
			<h1 class="show-heading"><%= @show.title %></h1>

			{followButton}

			<p class="genres">{genres}</p>
		</div>

		<div class="clear"></div>
	</div>
</div>

<div class="show-description-outer{hasNetworkIcon}">
	{networkIcon}

	<div>
		<%= @show.description %>
	</div>
</div>

<div class="rightcolumn">

	<div class="infobox">
		<p><%= @show.seasons.length %> seasons with <%= @show.episodes.length %> episodes listed.</p>
		<p>First Aired: <%= @show.firstaired %></p>
		<p>Status: <%= @show.status %></p>
	</div>

  <% if @user %>
  <div class="infobox">
<p>You have seen %episodeStatus%.</p>
</div>
<div class="infobox infobox-special">
<p><a href="show/markall/id:%id%">I've watched all aired episodes</a></p>
</div>
  <% end %>

  <ul class="followers">
    <% @show.followers.each do |follower| %>
      <li><a href="%profile%"><img src="static/BUser/<%= follower.id %>/avatar" class="tt" title="<%= follower.firstname %><%= follower.lastname %>" /></a></li>
    <% end %>
  </ul>
<div class="clear"></div>

<!--
<h4>Related Shows</h4>
<div class="infobox">
<ul class="show-suggestions">
  <li>
  <a href="%url%"><img src="static/BShow/%show_id%/poster/size:35x0" class="imageborder" /></a>
  <p><a href="%url%"><strong>%title%</strong></a><br />
  <span class="following">%followers%</span></p>
  <div class="clear"></div>
  </li>
</ul>
</div>
-->
</div>

<div class="leftcolumn">
	<ul class="list-episodes">
		<%= @episodes_dataset.inspect %>

		<%
			current_season = nil
		 	@episodes_dataset.each do |episode| %>
			<% if episode[:season_id] != current_season
				if current_season != nil %>
					</ul>
				<% end
				current_season = episode[:season_id] %>

				<li class="season%specials%"><%= episode.season.formatted_title %> <a id="season-<%= episode.season.id %>" href="show/%unwatched%season/id:<%= episode.season.id %>" class="button-link button-season-tick season-%watched%" data-seasonpartialwatched="%partial%"><img src="img/%watched%.png"></a></li>
		    <ul>
			<% end %>

			<li>
				<p><a href="/episode/<%= episode.id %>"><%= episode[:episode_title] %></a></p>

				<% if episode[:watched] %>
					<a href="/episode/unwatched/<%= episode.id %>" class="button-link link-episode episode-tick episode-watched" data-episodeid="<%= episode.id %>"><img src="img/watched.png" /></a>
				<% else %>
					<a href="/episode/watched/<%= episode.id %>" class="button-link link-episode episode-tick episode-unwatched" data-episodeid="<%= episode.id %>"><img src="img/unwatched.png" /></a>
				<% end %>

				<% if @user.providerurl %>
					<a href="<%= @user.providerurl_for_episode(episode) %>" class="button-link link-episode button-binsearch" target="blank"><img src="img/link.png" /></a>
				<% end %>

				<span class="date{dateClass}"><%= episode.firstaired %></span>
			</li>
		<% end %>
	</ul>
</div>

<div class="clear"></div>
