<div class="mostPopularContainer collapse">
	<ul class="mostPopular">
    <% @popular_shows.each do |show| %>
	    <li>
	    	<a href="/show/<%= show.id %>" style="background-image: url(<%= show.poster_path %>)" alt="<%= show.title %>" title="<%= show.title %>"><%= show.title %></a>
	    </li>
    <% end %>
	</ul>
</div>

<div class="clear"></div>

<div class="unit1of3">

<div class="box">
<h4>Most watched this week</h4>

<ul class="boxList showList premieres">
	{showPremieres}
</ul>

<div class="clear"></div>
</div>

</div>

<div class="unit1of3">

<div class="box">
<h4>Most followed this week</h4>

<ul class="boxList showList popular">
	{popular}
</ul>

<div class="clear"></div>

</div>

</div>

<div class="unit1of3">

<div class="box last-item">
<h4>Most popular episodes this week</h4>

<ul class="boxList showList episodes">
	{recentEpisodes}
</ul>

<div class="clear"></div>

</div>

</div>

<div class="clear"></div>
