<div style="background-image: url(<%= @show.banner_path %>);" class="show-imageheading">
	<div class="show-imageheading-text">
		<div class="show-imageheading-text-inner">
			<h1 class="show-heading"><%= @show.title %></h1>

			<% if @user %>
				<% if @user.is_following(@show) %>
					<a href="/show/<%= @show.id %>/unfollow" class="button-follow button-follow-glowing button-follow-unfollow">Unfollow</a>
				<% else %>
					<a href="/show/<%= @show.id %>/follow" class="button-follow button-follow-glowing">Follow</a>
				<% end %>
			<% end %>

			<p class="genres">
				<%== @show.genres.map { |g| "<a href=\"/shows/genre/#{g.id}\" class=\"genre\">#{g.title}</a>" }.join(" &middot; ") %>
			</p>
		</div>

		<div class="clear"></div>
	</div>
</div>

<div class="show-description-outer<% if @show.network.icon_thumb_url %> show-description-outer-withimage<% end %>">
	<% if @show.network.icon_thumb_url %>
		<img src="<%= @show.network.icon_thumb_url %>" class="network-image" alt="<%= @show.network.title %>" title="<%= @show.network.title %>" />
	<% end %>

	<div>
		<%= @show.description %>
	</div>
</div>

<div class="rightcolumn">

	<div class="infobox">
		<p><%= @show.seasons.length %> seasons with <%= @show.episodes.length %> episodes listed.</p>
		<p>First Aired: <%= @show.firstaired %></p>
		<p>Status: <%= @show.status %></p>
	</div>

  <% if @user %>
<div class="infobox infobox-special">
<p><a href="/show/<%= @show.id %>/markall">I've watched all aired episodes</a></p>
</div>
  <% end %>

  <ul class="followers">
    <% @show.followers.each do |follower| %>
      <li><a href="%profile%"><img src="<%= follower.avatar_thumb_url %>" class="tt" title="<%= follower.firstname %> <%= follower.lastname %>" /></a></li>
    <% end %>
  </ul>
<div class="clear"></div>

</div>

<div class="leftcolumn">
	<ul class="list-episodes">
		<%
			current_season = nil
			local_time = @user.to_local_time(Time.now.getutc)
		 	@show_data[:episodes].each do |episode| %>
			<% if episode[:season_id] != current_season
				if current_season != nil %>
					</ul>
				<% end
				current_season = episode[:season_id] %>

				<li class="season<% if episode.season.specials? %> season-specials<% end %>"><%= episode.season.formatted_title %>
					<% if @show_data[:seasons][episode.season.id][:count] > 0 && @show_data[:seasons][episode.season.id][:count] == @show_data[:seasons][episode.season.id][:seen] %>
						<a id="season-<%= episode.season.id %>" href="/show/season_unwatched/<%= episode.season.id %>" class="button-link button-season-tick season-watched"><img src="img/watched.png"></a></li>
					<% else %>
						<a id="season-<%= episode.season.id %>" href="/show/season_watched/<%= episode.season.id %>" class="button-link button-season-tick season-unwatched"><img src="img/unwatched.png"></a></li>
					<% end %>
		    <ul>
			<% end %>

			<li>
				<p><a href="/episode/<%= episode.id %>"><%= episode[:order] %>. <%= episode[:episode_title] %></a></p>

				<% if !episode.firstaired || local_time > @user.to_local_time(episode.firstaired.to_time)  %>
					<% if episode[:watched] %>
						<a href="/episode/unwatched/<%= episode.id %>" class="button-link link-episode episode-tick episode-watched" data-episodeid="<%= episode.id %>"><img src="img/watched.png" /></a>
					<% else %>
						<a href="/episode/watched/<%= episode.id %>" class="button-link link-episode episode-tick episode-unwatched" data-episodeid="<%= episode.id %>"><img src="img/unwatched.png" /></a>
					<% end %>

					<% if @user.providerurl %>
						<a href="<%= @user.providerurl_for_episode(episode) %>" class="button-link link-episode button-binsearch" target="blank"><img src="img/link.png" /></a>
					<% end %>
				<% end %>

				<% if episode.firstaired %>
					<% if local_time > @user.to_local_time(episode.firstaired.to_time) %>
						<span class="date date-past"><%= episode.firstaired_formatted(current_date: local_time.to_date) %></span>
					<% else %>
						<span class="date"><%= episode.firstaired_formatted(current_date: local_time.to_date) %></span>
					<% end %>
				<% else %>
					<span class="date date-past">Unknown</span>
				<% end %>
			</li>
		<% end %>
	</ul>
</div>

<div class="clear"></div>
